<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xuhao.android.libsocket">
    <!--以下为socket使用的必须权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--以上为socket使用的必须权限-->
</manifest>
